.main {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.titleLogo {
  max-width: 20vw;
  padding: 2rem 1rem 0rem 1rem;
}

.titleText {
  max-width: 20vw;
  font-size: 2rem;
  white-space: nowrap;
  padding: 0rem 3rem;
  border-left: 0.15rem solid #00BC83;
  line-height: 3rem;
}


.gallery {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.galleryTitle {
  margin: 0;
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
}

.gridImages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
}
.grid > li {
  position: relative;
  cursor: pointer;
  margin-bottom: -0.2rem;
}
.grid > li :hover{
  transition-duration: 0.5s;
  opacity: 0.8;
}
.imageText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50.4%);
  z-index: 5;
  font-size: 2rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 188, 131, 0.9);
  transition-duration: 0.5s;
  opacity: 0;
  color: #00593e;
}


.about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 3rem 0;
  padding: 2rem 0;
  color: #00593e;

  width: 100%;
  background-image: url('../public/bg.jpg');
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 130%;
}

.aboutText {
  flex: 1;
  background-color: rgba(214, 213, 217, 0.7);
  max-width: 30vw;
  margin: 2rem 4rem;
  padding: 2rem;
}
.aboutTitle {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
}
.aboutStatement {
  font-size: 1rem;
}

.aboutShop {
  position: relative;
  background-color: #D6D5D9;
  max-width: 30vw;
  height: 100%;
  margin: 2rem 4rem;
  padding: 2rem;
  cursor: pointer;
}
.aboutShop :hover {
  transition-duration: 0.5s;
  opacity: 0;
}
.shopText {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 2rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 188, 131, 0.9);
  transition-duration: 0.5s;
}


.contact {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem 3rem 1rem;
  padding-bottom: 3rem;
}

.contactTitle {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
}

.feedbackInput {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  background-color: transparent;
  border: 0.2rem solid #00BC83;
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  outline: 0;
}
.feedbackInputComent {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: transparent;
  border: 0.2rem solid #00BC83;
  transition: all 0.3s;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  outline: 0;
  height: 20vh;
}
.feedback-input:focus {
  border: 1rem solid #00BC83;
}

.submit {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: #00BC83;
  border: 0;
  cursor: pointer;
  color: #D6D5D9;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.3s;
  margin-top: 1rem;
  font-weight: 700;
}
.submit :hover {
  background-color: #94484c;
}


.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #212125;
  opacity: 0.95;
}
.menu :hover {
  filter: invert(1);
  cursor: pointer;
}
.menu > a :hover {
  filter: invert(1);
  cursor: pointer;
}

.sns {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 0;
  background-color: #212125;
  opacity: 0.98;
}
.sns :hover {
  filter: invert(1);
  cursor: pointer;
}

.signature {
  position: fixed;
  bottom: 0;
  padding: 0.5rem 0.2rem;
  font-size: small;
}

@media (max-width: 1600px) {
  .about {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1080px) {
  .about {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
  }

  .aboutTitle {
    font-size: 1.2rem;
    font-family: 'Anton', sans-serif;
  }

  .aboutStatement {
    font-size: 1rem;
  }

  .aboutShop {
    min-width: 60vw;
  }
}

@media (max-width: 720px) {
  .title {
    transform: translateX(-15%);
  }
  .titleLogo {
    max-width: 30vw;
    padding: 1rem 1rem 0rem 1rem;
  }
  .titleText {
    max-width: 30vw;
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 0rem 1rem;
    border-left: 0.1rem solid #00BC83;
    line-height: 1.5rem;
  }
  .galleryTitle {
    font-size: 1.2rem;
  }
  .imageText {
    font-size: 1.5rem;
  }
  .about {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../public/bg-mobile.jpg');
      background-attachment: fixed;
  }
  .aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
  }
  .aboutTitle {
    font-size: 1.2rem;
    font-family: 'Anton', sans-serif;
  }
  .aboutStatement {
    font-size: 0.8rem;
  }
  .aboutShop {
    min-width: 80vw;
  }
  .shopText {
    font-size: 2.5rem;
  }
  .contactTitle {
    font-size: 1.2rem;
  }

  .menu {
    font-size: 0.8rem;
  }

  .sns {
    padding-bottom: 1rem;
  }

  .signature {
    font-size: 0.3rem;
  }
}

